# IntelliJ files
*.idea
*.iml

# Maven files
*target
    
# Eclipse files
*.project
*.classpath
*.settings
*bin
    
# Other project specific stuff
*.iws
*.ipr
*.log
.DS_Store
dependency-reduced-pom.xml

# files not to be uploaded to github
auth.properties